<h1>Quotes App</h1>

<p>Manage quotes with this app</p>

<!-- Pass in data from server.js -->
<ul>
  {{#each quotes}}
  	<li>
  		<p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Quote:</span> {{this.quote}}</p>
      <p><span class="label">Author:</span> {{this.author}}</p>

      <form action="/{{this.id}}?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">Delete</button>
      </form>

      <a href="/{{this.id}}">Update this quote</a>
  	</li>
  {{/each}}
</ul>

<h2>Add a Quote</h2>

<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author">
  </div>

  <div class="form-group">
    <label for="quo">Quote:</label>
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Add Quote</button>
</form>
